
html { 
  background: url(../images/BreslinPhoto2-3.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
    background: none;
    width: 100%;
}
@media screen and (min-width: 1100px){
    .openvid {
        width: 640px;
        height: 480px;
    }
    #currentVid {
        width: 640px;
        height: 480px;
    }
    .fbbtn {
        width: 640px;
        height: 480px;
    }
    a.videoLink {
        display: inline-block;
        margin: 0px 15px 15px 0px;
        padding: 0px;
        width: 150px;
        height: 85px;
        float: left;
        position: relative;
        cursor: pointer;
        background: no-repeat 0px 0px;
        border: 1px solid #000;
        background-size: 150px;
    }
    a.videoLink img.play {
        position: absolute; top: 15px; left: 50px;
    }
    a.videoLink div.caption {
        position: absolute;
        width: 150px;
        bottom: 0px;
        padding: 15px 10px 10px 10px;
        color: #fff;
        background-color: rgba(0,0,0,.5);
        font-family: Arial; font-size: 12px;
    }
    a.fancybox-button{
        display: inline-block;
        margin: 0px 15px 15px 0px;
        padding: 0px;
        width: 150px;
        height: 85px;
        float: left;
        position: relative;
        cursor: pointer;
        background: no-repeat 0px 0px;
        border: 1px solid #000;
        background-size: 150px;
    }

    a.fancybox-button img.play {
        position: absolute;
        top: 15px; left: 50px;
        border: 0px;
    }
    a.fancybox-button div.caption {
        position: absolute;
        width: 150px;
        bottom: 0px;
        padding: 15px 10px 10px 10px;
        color: #fff;
        background-color: rgba(0,0,0,.5);
        font-family: Arial; font-size: 12px;
    }
    #filters {
        cursor: pointer;
        text-align: center;
        width: 350px;
        float: right;
        margin-left: 70%;
        margin-right:10px;
        top: 27%;
        position: fixed;
        padding: 25px 10px 25px 10px;
        border: 2px solid #444;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        background: #C2FFC2 ;
        z-index: 10;
        /*box-shadow: 10px 10px 5px #545454;*/
    }
    .yback {
        width: 350px;
        float: right;
        margin-left: 70%;
        top: 2%;
        position: fixed;
        padding: 25px 10px 25px 10px;
        border: 2px solid #444;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        background: #C2FFC2 ;
        z-index: 10000;
        /* box-shadow: 10px 10px 5px #545454;*/
    }
}
@media screen and (min-width: 1820px){
    .openvid {
        width: 960px;
        height: 720px;
    }
    #currentVid {
        width: 960px;
        height: 720px;
    }
    a.videoLink {
        display: inline-block;
        margin: 0px 15px 15px 0px;
        padding: 0px;
        width: 200px;
        height: 115px;
        float: left;
        position: relative;
        cursor: pointer;
        background: no-repeat 0px 0px;
        border: 1px solid #000;
        background-size: 200px;
    }
    a.videoLink img.play {
        position: absolute; top: 25px; left: 75px;
    }
    a.videoLink div.caption {
        position: absolute;
        width: 200px;
        bottom: 0px;
        padding: 15px 10px 10px 10px;
        color: #fff;
        background-color: rgba(0,0,0,.5);
        font-family: Arial; font-size: 12px;
    }
    a.fancybox-button{
        display: inline-block;
        margin: 0px 15px 15px 0px;
        padding: 0px;
        width: 200px;
        height: 115px;
        float: left;
        position: relative;
        cursor: pointer;
        background: no-repeat 0px 0px;
        border: 1px solid #000;
        background-size: 200px;
    }

    a.fancybox-button img.play {
        position: absolute;
        top: 25px; left: 75px;
        border: 0px;
    }
    a.fancybox-button div.caption {
        position: absolute;
        width: 200px;
        bottom: 0px;
        padding: 15px 10px 10px 10px;
        color: #fff;
        background-color: rgba(0,0,0,.5);
        font-family: Arial; font-size: 12px;
    }
    #filters {
        cursor: pointer;
        text-align: center;
        width: 350px;
        float: right;
        margin-left: 75%;
        margin-right:10px;
        top: 27%;
        position: fixed;
        padding: 25px 10px 25px 10px;
        border: 2px solid #444;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        background: #C2FFC2 ;
        z-index: 10;
        /*box-shadow: 10px 10px 5px #545454;*/
    }
    .yback {
        width: 350px;
        float: right;
        margin-left: 75%;
        top: 2%;
        position: fixed;
        padding: 25px 10px 25px 10px;
        border: 2px solid #444;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        background: #C2FFC2 ;
        z-index: 10000;
        /* box-shadow: 10px 10px 5px #545454;*/
    }
}

#MContainer .mix {
    display: none;
    /*overflow: scroll;*/
    /*position: absolute;*/
    /*top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);*/
}
#filterHeader {
    border: 2px solid #444;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
    background: white;
    text-align: center;
}

.video_gallery_container {
    /*margin-right: 400px;*/
    /*overflow: scroll;*/
    margin-left: 30px;
    width: 65%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.yback h2 {
	font-family: Arial;
	text-align: center;
}
.yback p {
	font-family: Arial;
	text-align: center;
}
.markee {
	background: antiquewhite;
    position: fixed;
    z-index: 100000;
	width: 350px;
    top: 50%;
    /*color: red;*/
}
.markee h2{
	color: blue;
	text-align: center;


}
.markee p{
	color: red;
	text-align: center;

}
/*.singlef {
	font-family: Arial;
	font-size: small;
	text-align: center;
	width: 38.5%;
	height: 20px;
	margin-left: 5px;
	margin-bottom: 3px;
	display: inline-block;
	padding: 10px 10px 10px 10px;
	border: 2px solid #444;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background: rgb(180,227,145); *//* Old browsers *//*
	background: -moz-linear-gradient(top,  rgba(180,227,145,1) 0%, rgba(97,196,25,1) 50%, rgba(180,227,145,1) 100%); *//* FF3.6+ *//*
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(180,227,145,1)), color-stop(50%,rgba(97,196,25,1)), color-stop(100%,rgba(180,227,145,1))); *//* Chrome,Safari4+ *//*
	background: -webkit-linear-gradient(top,  rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); *//* Chrome10+,Safari5.1+ *//*
	background: -o-linear-gradient(top,  rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); *//* Opera 11.10+ *//*
	background: -ms-linear-gradient(top,  rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); *//* IE10+ *//*
	background: linear-gradient(to bottom,  rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); *//* W3C *//*
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 ); *//* IE6-9 *//*

	z-index: 10;
}*/
.singlef {
	text-align: center;
	display: inline-block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	width: 38.5%;
	height: 20px;
	cursor: pointer;
	margin-left: 5px;
	margin-bottom: 6px;
	padding: 10px 10px 10px 10px;
	border: 1px solid #018dc4;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	font: normal 14px/normal Arial, Helvetica, sans-serif;
	color: rgba(40,40,40,1);
	-o-text-overflow: clip;
	text-overflow: clip;
	background: -webkit-linear-gradient(-90deg, rgba(180,227,145,1) 0, rgba(97,196,25,1) 50%, rgba(180,227,145,1) 100%), #0199d9;
	background: -moz-linear-gradient(180deg, rgba(180,227,145,1) 0, rgba(97,196,25,1) 50%, rgba(180,227,145,1) 100%), #0199d9;
	background: linear-gradient(180deg, rgba(180,227,145,1) 0, rgba(97,196,25,1) 50%, rgba(180,227,145,1) 100%), #0199d9;
	background-position: 50% 50%;
	-webkit-background-origin: padding-box;
	background-origin: padding-box;
	-webkit-background-clip: border-box;
	background-clip: border-box;
	-webkit-background-size: auto auto;
	background-size: auto auto;
	-webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
	text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
	-webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

/*.singlef:hover {
	color: rgba(0,0,0,1);
	background: -webkit-linear-gradient(-145deg, rgba(180,227,145,1) 0, rgba(97,196,25,1) 50%, rgba(180,227,145,1) 100%);
	background: -moz-linear-gradient(235deg, rgba(180,227,145,1) 0, rgba(97,196,25,1) 50%, rgba(180,227,145,1) 100%);
	background: linear-gradient(235deg, rgba(180,227,145,1) 0, rgba(97,196,25,1) 50%, rgba(180,227,145,1) 100%);
	background-position: 50% 50%;
	-webkit-background-origin: padding-box;
	background-origin: padding-box;
	-webkit-background-clip: border-box;
	background-clip: border-box;
	-webkit-background-size: auto auto;
	background-size: auto auto;
}*/

/*.singlef:active {
	-webkit-border-radius: 9px;
	border-radius: 9px;
	background: -webkit-linear-gradient(-90deg, rgba(252,234,187,1) 0, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
	background: -moz-linear-gradient(180deg, rgba(252,234,187,1) 0, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
	background: linear-gradient(180deg, rgba(252,234,187,1) 0, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
	background-position: 50% 50%;
	-webkit-background-origin: padding-box;
	background-origin: padding-box;
	-webkit-background-clip: border-box;
	background-clip: border-box;
	-webkit-background-size: auto auto;
	background-size: auto auto;
}*/

/*.doublef div:hover {
	background: rgb(246,230,180); *//* Old browsers *//*
	background: -moz-linear-gradient(top,  rgba(246,230,180,1) 0%, rgba(237,144,23,1) 100%); *//* FF3.6+ *//*
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,230,180,1)), color-stop(100%,rgba(237,144,23,1))); *//* Chrome,Safari4+ *//*
	background: -webkit-linear-gradient(top,  rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%); *//* Chrome10+,Safari5.1+ *//*
	background: -o-linear-gradient(top,  rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%); *//* Opera 11.10+ *//*
	background: -ms-linear-gradient(top,  rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%); *//* IE10+ *//*
	background: linear-gradient(to bottom,  rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%); *//* W3C *//*
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#ed9017',GradientType=0 ); *//* IE6-9 *//*

}
.doublef {
	cursor: pointer;
	font-family: Arial;
	font-size: small;
	text-align: center;
	width: 90%;
	margin-left: 5px;
	margin-bottom: 3px;
	height: 20px;
	display: inline-block;
	padding: 10px 10px 10px 10px;
	border: 2px solid #444;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background: rgb(180,227,145); *//* Old browsers *//*
	background: -moz-linear-gradient(top,  rgba(180,227,145,1) 0%, rgba(97,196,25,1) 50%, rgba(180,227,145,1) 100%); *//* FF3.6+ *//*
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(180,227,145,1)), color-stop(50%,rgba(97,196,25,1)), color-stop(100%,rgba(180,227,145,1))); *//* Chrome,Safari4+ *//*
	background: -webkit-linear-gradient(top,  rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); *//* Chrome10+,Safari5.1+ *//*
	background: -o-linear-gradient(top,  rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); *//* Opera 11.10+ *//*
	background: -ms-linear-gradient(top,  rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); *//* IE10+ *//*
	background: linear-gradient(to bottom,  rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); *//* W3C *//*
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 ); *//* IE6-9 *//*

	z-index: 10;
}*/
.doublef {
	text-align: center;
	display: inline-block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	width: 89%;
	margin-left: 5px;
	margin-bottom: 6px;
	height: 20px;
	cursor: pointer;
	padding: 10px 10px 10px 10px;
	border: 1px solid #018dc4;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	font: normal 14px/normal Arial, Helvetica, sans-serif;
	color: rgba(40,40,40,1);
	-o-text-overflow: clip;
	text-overflow: clip;
	background: -webkit-linear-gradient(-90deg, rgba(180,227,145,1) 0, rgba(97,196,25,1) 50%, rgba(180,227,145,1) 100%), #0199d9;
	background: -moz-linear-gradient(180deg, rgba(180,227,145,1) 0, rgba(97,196,25,1) 50%, rgba(180,227,145,1) 100%), #0199d9;
	background: linear-gradient(180deg, rgba(180,227,145,1) 0, rgba(97,196,25,1) 50%, rgba(180,227,145,1) 100%), #0199d9;
	background-position: 50% 50%;
	-webkit-background-origin: padding-box;
	background-origin: padding-box;
	-webkit-background-clip: border-box;
	background-clip: border-box;
	-webkit-background-size: auto auto;
	background-size: auto auto;
	-webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
	text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
	-webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

/*.doublef:hover {
	color: rgba(0,0,0,1);
	background: -webkit-linear-gradient(-145deg, rgba(180,227,145,1) 0, rgba(97,196,25,1) 50%, rgba(180,227,145,1) 100%);
	background: -moz-linear-gradient(235deg, rgba(180,227,145,1) 0, rgba(97,196,25,1) 50%, rgba(180,227,145,1) 100%);
	background: linear-gradient(235deg, rgba(180,227,145,1) 0, rgba(97,196,25,1) 50%, rgba(180,227,145,1) 100%);
	background-position: 50% 50%;
	-webkit-background-origin: padding-box;
	background-origin: padding-box;
	-webkit-background-clip: border-box;
	background-clip: border-box;
	-webkit-background-size: auto auto;
	background-size: auto auto;
}*/
/*.active {
	-webkit-border-radius: 9px;
	border-radius: 9px;
	background: -webkit-linear-gradient(-90deg, rgba(252,234,187,1) 0, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
	background: -moz-linear-gradient(180deg, rgba(252,234,187,1) 0, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
	background: linear-gradient(180deg, rgba(252,234,187,1) 0, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
	background-position: 50% 50%;
	-webkit-background-origin: padding-box;
	background-origin: padding-box;
	-webkit-background-clip: border-box;
	background-clip: border-box;
	-webkit-background-size: auto auto;
	background-size: auto auto;
}*/


.clear_both { clear: both; line-height: 1px; }

/*body {
 background-color: #99FF99;
 margin: 40px;
  }*/



/*a.videoLink {
	display: inline-block;
	margin: 0px 15px 15px 0px;
	padding: 0px;
	width: 200px;
	height: 115px;
	float: left;
	position: relative;
	cursor: pointer;
	background: no-repeat 0px 0px;
	border: 1px solid #000;
}
a.videoLink img.play {
    position: absolute; top: 25px; left: 75px;
}
a.videoLink div.caption {
	position: absolute;
    width: 200px;
    bottom: 0px;
    padding: 15px 10px 10px 10px;
    color: #fff;
    background-color: rgba(0,0,0,.5);
	font-family: Arial; font-size: 12px;
}*/
/*a.videoLink:hover {
	border-color: #fff;
	box-shadow: 10px 10px 5px #545454;
}*/

/*a.fancybox-button:hover {
	border-color: #fff;
	box-shadow: 10px 10px 5px #545454;
}*/
#introvid {
	display: none;

}
.fltr {
    margin-top: 4px;
    margin-bottom: 4px;
    background-color: #f4ff9d;
    color: black;
}
#progstatus {
    margin: 0 auto;
    width: 350px;


}
/*.bm{
    margin-top: 5px;
    margin-bottom: 5px;
}*/


